@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245; /* Light grey for a softer background */
  --background-end-rgb: 240, 240, 240; /* Slightly darker grey for gradient */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34; /* Dark grey for dark mode */
    --background-end-rgb: 17, 17, 17; /* Even darker grey for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.default-line-color {
  background: white; /* Keeps the line color as black */
}

.change-line-color {
  background: theme("colors.system.green60");
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse-animation {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
